:root {
  --cameo-pink: #dbb1bcff;
  --thistle: #d3c4e3ff;
  --blue-bell: #8f95d3ff;
  --baby-blue: #89daffff;
  --umber: #2c2926;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.my-nav {
  background-color: var(--blue-bell);
  color: var(--umber);
  text-decoration: none;
  font-size: x-large;
  font-weight: 400;
}

.my-list-item {
  color: var(--umber);
  border-radius: 1rem;
  list-style: none;
  border: var(--blue-bell) 1px solid;
  text-align: center;
  cursor: pointer;
}

.weather-info-container {
  background-color: var(--thistle);
}

.current-weather-icon {
  width: 10rem;
}

.forecast-icon {
  width: 4rem;
  justify-content: left;
}

.display-switch {
  display: none;
}
